.intro
  #logo-svg
    position absolute
    top 50%;
    left 50%
    transform translateX(-50%) translateY(-50%)
    z-index 3
    transition transform 1s easeInOutExpo;
    
  path
    shape-rendering crispEdges