.layout
  .background
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color #000
    transform translate3D(0,-100%,0)
    transition transform 0.75s easeOutExpo

  #plane
    position absolute
    z-index 2
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    opacity 0
    
    path 
        shape-rendering crispEdges
        
  #menu-area
    width 114px
    height 114px
    cursor pointer
    position absolute
    z-index 2
    left 165px
    top 50%;
    margin-top -56px
    overflow hidden
    
    svg
      pointer-events none
    
    path 
      shape-rendering crispEdges
      transition stroke 1s easeOutExpo;
        

.layout.animation-in
  .background
    transform translate3D(0,0,0)
  