@font-face {
    font-family: 'RobotoMonoMedium';
    src: url('/fonts/roboto/robotomono-medium-webfont.eot');
    src: url('/fonts/roboto/robotomono-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/robotomono-medium-webfont.woff2') format('woff2'),
         url('/fonts/roboto/robotomono-medium-webfont.woff') format('woff'),
         url('/fonts/roboto/robotomono-medium-webfont.ttf') format('truetype'),
         url('/fonts/roboto/robotomono-medium-webfont.svg#roboto_monomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaBold';
    src: url('/fonts/helvetica/HelveticaBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}