body
  background-color #444
  font-smoothing: antialiased;
  box-sizing border-box
  
body.grab
  cursor -webkit-grab
  
body.grabbing
  cursor -webkit-grabbing
  
.noselect
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none;  
  -moz-user-select: none;      
  -ms-user-select: none;      
  user-select: none;           