@import "nib";
global-reset()

@import "./shared/global"
@import "./shared/easings"
@import "./shared/mixins"

// COMPS
@import "./shared/comp/plane";

// VIEWS
@import "./views/layout";
@import "./views/intro";
@import "./views/monkey";
@import "./views/calendar";
