<div class="plane">
  
  <svg version="1.1" id="plane" x="0px" y="0px"
     width="656px" height="656px" >

      <path id="face01" d = "M 0 0 L 525 0 L 525 525 L 0 525 L 0 0" stroke = "#333333" stroke-width = "0.5" fill = "none"/>

      <path id="face02" d = "M 0 525 L 525 0 L 525 525 L 0 525" stroke = "#85734c" stroke-width = "0.5"  stroke-dashoffset="1792.462158203125" stroke-dasharray="1792.462158203125 1792.462158203125" fill = "none"/>

<!--       <g id="face02">
        <path d = "M 0 525 L 525 525 L 525 0 L 0 525 L 0 0 L 525 0" stroke = "#85734c" stroke-width = "0.5" fill = "none"/>
      </g>

 -->
  </svg>

</div>